/*............................. Font-face*/

@font-face {
        font-family: "Horn";
        src: url("../font/Horn-pymD.ttf") format("truetype");
}

html {
        box-sizing: border-box;
}

*,
*:before,
*:after {
        box-sizing: inherit;
}

/*............................. body*/
body {
        margin: 0;
        padding: 0;
        background: url('../images/foliage1.png') no-repeat center center fixed;
        background-size: cover;
        cursor: url('../cursor/cursor.png'), auto;
}

/*....................... Score panel*/
h3 {
        font-family: Ma Shan Zheng;
        text-align: center;
        font-size: 2em;
        color: #fff;
}

#score,
#time {
        color: #ff0066;

}

/*.......................code smippets from https://stackoverflow.com/questions/55126972/how-to-centre-center-html-audio-player-to-middle-of-webpage*/
.audio-container {
        display: flex;
        justify-content: center;
        align-items: center
}

/*....................... Game container*/

#container {
        display: flex;
        flex-wrap: wrap;
}


.memory-game {
        position: relative;
        height: 100px;
        width: 25%;
        margin: auto;
        background: transparent;
        perspective: 1200px;
        float: left;
        margin-left: 40px;
        padding: 2.5em;
        margin-top: 0.125em;
}


.memory-card {
        position: relative;
        height: 100px;
        width: 125px;
        transform-style: preserve-3d;
        transition: all 0.75s ease;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: normal;
        justify-content: normal;
        align-items: normal;
        border: 3mm ridge rgb(179, 255, 102);
        border-radius: 15px;
        box-shadow: 5px 5px;
}


.front,
.back {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        backface-visibility: hidden;
}

.front {
        background: url("../images/lemur7.jpg") no-repeat;
        background-size: cover;

}

.back {
        transform: rotateY(180deg);
}

img {
        width: 100%;
        min-height: 100%;
}

/*-----------------------Play again and exit game links*/

a:link,
a:visited {
        background-color: #ff0066;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
}

a:hover,
a:active {
        background-color: rgb(179, 255, 102);
        color: black;
}



/*.......................................media screen */

@media screen and (max-width: 800px) {
        .container {
                display: flex;
                flex-wrap: wrap;
        }


        .memory-game {
                height: 75px;
                width: 90px;
                margin: 9px;
                padding: 1px;
                background: transparent;
                perspective: 1200px;
                float: left;
                margin-right: 4px;
                margin-top: 6px;
        }

        .memory-card {
                position: relative;
                height: 85px;
                width: 100px;
                transform-style: preserve-3d;
                transition: all 0.75s ease;
                margin: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: normal;
                justify-content: normal;
                align-items: normal;
                border: 3mm ridge rgb(179, 255, 102);
                border-radius: 25px;
                box-shadow: 5px 5px;
        }


        .front,
        .back {
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 2px;
                backface-visibility: hidden;
        }

        .front {
                background: url("../images/lemur7.jpg") no-repeat;
                background-size: cover;

        }

        .back {
                transform: rotateY(180deg);
        }

        img {
                width: 100%;
                min-height: 100%;
        }

}



@media screen and (max-width: 667px) {
        .container {
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin: 22px;
        }
}

@media screen and (max-width: 375px) {
        .container {
                max-width: 50%;
                display: flex;
                flex-wrap: wrap;
                margin: 26px;
        }

        .memory-game {
                height: 75px;
                width: 75px;
                margin: 9px;
                padding: 1px;
                background: transparent;
                perspective: 1200px;
                float: left;
                margin-right: auto;
                margin-top: 6px;
        }

        .memory-card {
                position: relative;
                height: 85px;
                width: 92px;
                transform-style: preserve-3d;
                transition: all 0.75s ease;
                margin: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: normal;
                justify-content: normal;
                align-items: normal;
                border: 3mm ridge rgb(179, 255, 102);
                border-radius: 25px;
                box-shadow: 5px 5px;
        }


        .front,
        .back {
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 2px;
                backface-visibility: hidden;
        }

        .front {
                background: url("../images/lemur7.jpg") no-repeat;
                background-size: cover;

        }

        .back {
                transform: rotateY(180deg);
        }

        img {
                width: 100%;
                min-height: 100%;
        }
}