
/*............................. Font-face*/

@font-face {
        font-family: "Horn";
        src: url("../font/Horn-pymD.ttf") format("truetype");
}
html {
        box-sizing: border-box;
}

*, *:before, *:after {
 box-sizing: inherit;
}

/*............................. body*/
body {
        background: url('../images/foliage1.png') no-repeat center center fixed;
        background-size: cover;
        cursor: url('../cursor/cursor.png'), auto;
}

/*....................... Game container*/
#grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        height:540px;
        width:540px;
         perspective: 500px;
        top: 0;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
}
     

.memory-game {
        position: relative;
        height: 100px;
        width: 25%;
        background: transparent;
        perspective: 1200px;
        float: left;
        margin-left: 25px;
        margin-top: 2px;
}

.memory-card {
        position: relative;
        height: 85px;
        width: 100px;
        transform-style: preserve-3d;
        transition: all 0.75s ease;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: normal;
        justify-content: normal;
        align-items: normal;
        border: 3mm ridge rgb(179, 255, 102);
        border-radius: 25px;
        box-shadow: 5px 5px;
}


.front,
.back {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        backface-visibility: hidden;
}

.front {
        background: url("../images/lemur7.jpg") no-repeat;
        background-size: cover;

}

.back {
        transform: rotateY(180deg);
}

img {
        width: 100%;
        min-height: 100%;
}

/*....................... Score panel*/


/*-------------------Footer*/

footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #ff0066;
        color: #fff;
        text-align: center;

}

footer p {
        margin: 6px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        height: 28.125vw;
        width:auto;
         perspective: 500px;
        top: 0;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
}
      
.row {
 
  display: flex;
 
  flex-wrap: wrap;
  padding: 0 4px;
}



.memory-game {
        position: relative;
        height: 100px;
        width: 100px;
        background: transparent;
        perspective: 1200px;
        float: left;
        margin-left: 25px;
        margin-top: 2px;
}

.memory-card {
        position: relative;
        height: 85px;
        width: 100px;
        transform-style: preserve-3d;
        transition: all 0.75s ease;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: normal;
        justify-content: normal;
        align-items: normal;
        border: 3mm ridge rgb(179, 255, 102);
        border-radius: 25px;
        box-shadow: 5px 5px;
}


.front,
.back {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        backface-visibility: hidden;
}

.front {
        background: url("../images/lemur7.jpg") no-repeat;
        background-size: cover;

}

.back {
        transform: rotateY(180deg);
}

img {
        width: 100%;
        min-height: 100%;
}

  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 667px) {
  #grid-container {
    max-width: 100%;
  }
}