@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Original+Surfer&display=swap');

@font-face {
    font-family: "Horn";
    src: url("../font/Horn-pymD.ttf") format("truetype");
}

body{
    margin: 0;
    padding:0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

html {
	height: 100vh;
	/* max-height: 600px; */
	width: 100%;
	background-color: rgba(46, 107, 69, 0.4);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');

	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}

    #game-container {
        height: 550px;
        margin-left: 25px;
    }

    .memory-game {
        height: 160px;
        width: 120px;
        background: transparent;
        perspective: 1200px;
        float: left;
        margin-left: 40px;
        margin-top: 20px;
    }

    .memory-card {
        position: absolute;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        transition: all 0.75s ease;
    }

    .front, .back {
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(45 deg, rgba(2,0,36,1) 0%, rgba(40,40,121,1) 35%, rgba(0,212,255,1) 100%);
        border-radius: 10px;
        backface-visibility: hidden;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .front {
        background: url("../images/lemur7.jpg") no-repeat;
        background-size: cover;

    }

    .back {
        transform: rotateY(180deg);
    }

    #board {
        height: 85px;
        width: 450px;
        border: 4px solid black;
        margin: auto;
        text-align: center;
        margin-top: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    img {
        width: 100%;
        min-height: 100%;
    }

