body {
    width: 100%;
    font-family: Horn, serif;
    background: url('../images/jungle1.jpg') no-repeat  center fixed;
    height: 100vh;
    background-size: cover;
       
}

.page-title {
    text-align: center;
    font-family: Horn, serif;
    color: royalblue;
    font-size: 50px;
}


img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
   
}

.w3-container {
    background-color: #fff;
    background: url(assets/images/greenery-.jpg);
    }


h4 {
    background-color: rosybrown;
}
