@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Original+Surfer&display=swap');
body {
    margin: 0;
    padding: 0;
    background: url('../images/jungle1.jpg') no-repeat center center fixed;
    box-sizing: border-box;
    background-size: cover;
       
}

.page-title {
    text-align: center;
    font-family: Horn, serif;
    color: #ff3300;
    font-size: 50px;
}


img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
   
}

.w3-container {
  
    background: url(assets/images/greenery-.jpg);
    }


h4 {
    background-color: rosybrown;
}

.center {
    text-align: center;
}
